.body{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  height: 78vh;
  padding: 15px;
}

.body-left-light{
  overflow: scroll;
  flex-basis: 14%;
  background: white;
  border-radius: 5px;
}

.body-left-dark {
  overflow: scroll;
  flex-basis: 14%;
  background: #1A202C;
  color: white;
  border-radius: 5px;
}

.body-left-light::-webkit-scrollbar {
    width: 0px;
}

.body-left-dark::-webkit-scrollbar {
  width: 0px;
}

.body-left-light::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: none;
}

.body-left-dark::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: none;
}

.body-left::scrollbar {
    width: 0 !important
} 

/* .body-left::-webkit-scrollbar {
    width: 0em;
}
 
 
.body-left::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
} */

.body-right{
  flex-basis: 83%;
  border-radius: 5px;
}