 h2{
   font-size: 20px;
   margin-bottom: 0px;
 }

 .bt{
   background: #f1f3f7;
   color: #932EFF;
   border: none;
   font-size: 12px;
 }

 .bt:hover{
   background: #f1f3f7;
   color: #932EFF;
   border: none;
   font-size: 12px;
 }