/* body{
  height: 500vh;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-dark {
  background-color: #262d3a;
  height: 100vh;

  color: #fff;
}

.app-light {
  background-color:#f1f3f7;
  height: 100vh;
}